<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="~/css/styles.css" type="text/css"/>
		<title>Fridge Products App</title>
	</head>

	<body>
		<header>
			<h2>Fridge & Products App</h2>			
		</header>

		<div class="main-container">
			@RenderBody()
		</div>

	</body>
</html>
