<div>
    <h3>DefinitionDefaultQuantity</h3>

    @if (ViewData["Message"] != null)
    {
        <h5 style="color: red">@ViewData["Message"]</h5>
    }

    <a class="back-btn" href="Index">Back</a>

</div>
