<h3>Fridge Product</h3>

<div class="links-block">
	<a href="GetAll">Get All</a>
	<a href="Get">Get By Id</a>
	<a href="Create">Create</a>
	<a href="Update">Update</a>
	<a href="Delete">Delete</a>
	<a href="GetProductsInsideFridge">Get products inside fridge</a>
	<a href="GetAllFridgesWithProductsQuantity">Get all fridges with products quantity</a>
	<a href="GetProductsInsideFridgesByFirstLetterOfModelA">Get products inside fridges by first letter of model A</a>
	<a href="DefinitionDefaultQuantity">Definition default quantity</a>
	<a href="GetFridgesWithQuantityLessThanDefaultQuantity">Get fridges with quantity products less then default guantity</a>
	<a href="GetFridgesWithQuantityMoreThanDefaultQuantity">Get fridges with quantity products more then default guantity</a>
	<a href="GetFridgeProductsWithQuantityNameOfProductsWithQuantityMoreThanDefaultQuantity">Get fridgeproducts with quantity name of products with quantity more than default quantity</a>	
	<a href="GetProductsAndOwnerNameWithMaxCountNameOfProduct">Get products and owner name with max count name of product</a>
</div>

<a class="back-btn" href="../Home/Index">Back</a>