<div class="links-block">
	<a href="../Fridge/Index">Fridge</a>
	<a href="../FridgeProduct/Index">Fridge Product</a>
	<a href="../Model/Index">Model</a>
	<a href="../Product/Index">Product</a>
	<p style="margin-top: 30px"></p>
	<a href="../Authentication/Register">Register</a>
	<a href="../Authentication/Authenticate">Authenticate</a>
</div>
