
<h3>Fridge</h3>

<div class="links-block">
	<a href="GetAll">Get All</a>
	<a href="Get">Get By Id</a>
	<a href="Create">Create</a>
	<a href="Update">Update</a>
	<a href="Delete">Delete</a>
</div>

<a class="back-btn" href="../Home/Index">Back</a>